@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boska';
  src: url('/fonts/Boska-Light.otf') format('truetype');
  /* font-weight: normal; */
  font-style: serif;
}

.out {
  background-color: "#F2F6FF";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  min-height: 520px;
}

.hero {
  max-width: 1440px;
  width: "100%";
  background-size: cover;
  background-position: center;
  color: white;
}

.hero-desc {
  width: 50%;
  min-width: 380px;
}

.main-box {
  background-color: white;
  max-width: 1440px;
  width: "100%";
  margin: auto;
}

.cal {
  background: none;
}

.quote {
  height: 576px;
  justify-content: space-around;
  padding: 6% 0%;
  background-size: cover;
  background-position: center;
  /* background-image: url('@/images/Flowers.png'); */
}

.avail-info {
  max-width: "80%";
  display: flex;
  flex-direction: row; /* For mobile-first */
  gap: 40px;
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  .avail-info {
    flex-direction: row; /* For larger screens */
    justify-content: space-between;
  }
}

.inp {
  background: none;
}

.date {
  width: 400px
}

.accomodation {
  min-height: 982px;
  justify-content: space-around;
  padding: 6% 0%;
  /* display: flex;
  flex-direction: row; */
  flex-wrap: wrap;
  gap: 20px
}

.experience {
  min-height: 820px;
  justify-content: space-between;
  /* padding: 6% 0%; */
  flex-wrap: wrap;
  gap: 20px
}

.products {
  min-height: 880px;
  justify-content: space-around;
  padding: 6% 0%;
  /* display: flex;
  flex-direction: row; */
  flex-wrap: wrap;
  gap: 20px
}

.story {
  min-height: 565px;
  justify-content: space-between;
  /* padding: 6% 0%; */
  flex-wrap: wrap;
  gap: 20px;
  background-size: cover;
}

.testimonials {
  min-height: 500px;
  background-size: cover;
}

.testimonial-box {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px -5px 10px rgba(0, 0, 0, 0.05); /* Adds shadows on all sides */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.newsletter {
  min-height: 181px;
  background-size: cover;
  background-position: center;
}